@charset "utf-8";

.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.one h2 {
    font-size: 4rem;
}
.one p {
    font-size: 3rem;
    margin: 2.4rem 0;
}
.arrow {
    
}