@charset "utf-8";

#result {
    display: none;
    background-color: #fff;
    border-radius: 15px;
}
.resultname {
    width: 90%;
}
#shareResult {
    display: block;
    background-color: #fff;
    border-radius: 15px;
}
#gohome {
    background-color: pink;
}
.kakao,.gohome {
    outline: unset;
    background-color:pink;
    color: #333;
    border-radius: 15px;
    border: none;
}
.kakao:focus,.kakao:hover,
.gohome:focus,.gohome:hover {
    background-color: #aaff;
    color: #efefef;
}