@charset "utf-8";

@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { 
	font-family: 'S-CoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); 
	font-weight: 400; 
	font-style: normal;
}

h1,h2,h3,h4,p { margin: 0;}
a {color: inherit;text-decoration: none;display: block;}
ul {padding: 0; margin: 0; list-style: none;}
img {width: 100%; vertical-align: top; display: block;}
* {
    font-family: 'S-CoreDream',sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/* ν—¤λ” */
header,
footer {
    width: 100%;
}
section{
    width: 852px;
    margin: 0 auto;
}
header {
    min-width: 881px;
    position: fixed;
    top: 0; left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: #fff;
}
header h1 a {
    width: 250px;
    height: 94px;
    margin: 0 auto;
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat 0 40%;
    background-size: contain;
}
header .wrap {
    width: 100%;
    background: url(../images/lnb_bg.png) 0 0;
    background-size: cover;
}
header .lnb {
    display: flex;
    justify-content: center;
    height: 55px;
    display: flex;
    color: #fff;
    font-family: 'S-CoreDream', sans-serif;
    font-size: 22px;
}
header .lnb li {
    line-height: 55px;
    padding: 0 40px;
    transition: .3s;
    cursor: pointer;
}
header .lnb li:hover {
    color: #ffe451;
}
.grid {
    display: grid;
}
main {
    overflow-x: hidden;
}
/* ν‘Έν„° */

footer {
    background-color: #333333;
}
footer .wrap {
    width: 50%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
footer img {
    width: 210px;
    margin-right: 60px;
}
footer address {
    width: 531px;
    min-width: 531px;
    color: #fff;
    font-style: normal;
    padding: 30px 0;
}
footer address ul {
    display: flex;
}
footer address > * {
    margin: 8px 0;
}
footer address li {
    padding: 0 13px;
}
footer address li:first-of-type {
    padding-left: 0;
}
footer address li:nth-of-type(2) {
    border-left: 1px solid #656565;
    border-right: 1px solid #656565;
}
footer address a {
    display: inline-block;
    padding-right: 20px;
    border-right: 1px solid #656565;
    margin-bottom: 30px;
}
footer address span {
    padding-left: 20px;
}
.copyright {
    color: #818181;
}
@media screen and (max-width:500px) {
    header {
        width: 100%;
        min-width: unset;
    }
    header h1 a {
        width: 125px;
        height: 47px;
        margin: 10px auto;
    }
    header .lnb {
        flex-flow: wrap;
        height: auto;
        justify-content: space-around;
        font-size: 15px;
    }
    header .lnb li {
        line-height: 30px;
        padding: 10px 0;
        width: 33%;
        text-align: center;
    }
    footer .wrap {
        width: 90%;
        flex-direction: column;
    }
    footer img {
        margin: 20px auto;
    }
    footer address {
        padding: 0;
        font-size: 12px;
        min-width: unset;
        width: 100%;
    }
}