@charset "utf-8";

/* 초기화 */
* {
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    position: relative;
    margin: 0 auto;
    /* min-height:540px; */
}
/* body[orient="portrait"] { min-height:540px; }
body[orient="landscape"] { min-height:400px; } */
h1,h2,h3,h4,p {
    margin: 0;
}
a {
    display: block;
    color: inherit;
    text-decoration: none;
}
img {
    display: block;
}
ul {
    padding: 0;`
    list-style: none;
    margin: 0;
}
header,main {
    width: 1180px;
    margin: 0 auto;
}

/* 애니메이션 */

@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}    
}
@-moz-keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes flash {
    0% {
        color: #84a5ff;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #84a5ff;
    }
}
/* 헤더 */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: .7rem;
}
header h1 {
    text-indent: -9999px;
    width: 180px;
    height: 70px;
    background: url(images/logo.png) no-repeat 0 0;
    margin-left: .7rem;
}
header #search {
    width: 280px;
    height: 36px;
    border: 2px solid #eaeaea;
    outline: none;
    text-indent: 8px;
    font-size: 1.2rem;
}
header form button {
    width: 3.6rem;
    height: 3.6rem;
    vertical-align: top;
    border: none;
    outline: none;
    background-color: transparent;
    background: url(images/search.png) no-repeat 50% 50%;
    background-size: 60%;
}
nav {
    width: 100vw;
    min-width: 1180px;
    height: 48px;
    color: #fff;
    background-color: #ff1975;
    font-size: 1.6rem;
}
nav .wrap {
    max-width: 1180px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .gnb {
    width: 680px;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
}
nav .service {
    width: 367px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
}

/* 컨텐츠 */

.content {
    padding: 2rem 0;
}
.content .wrap {
    display: flex;
    height: 590px;
}
.content .imgWrap {
    width: 880px;
    height: 590px;
    overflow: hidden;
    position: relative;
}
.content .imgWrap .cam {
    width: 100%;
    margin-top: 0px;
}
.content .imgWrap .bar {
    position: absolute;
    bottom: 0; left: 0;
}
.content .chat {
    width: 290px;
    height: 100%;
    background-color: #f3f3f3;
    padding: 1rem 0 1rem;
    border: 2px solid #d6dadc;
}
.content .chat > p {
    background: url(images/user.png) no-repeat 0 50%;
    background-size: 1.3rem;
    text-indent: 1.6rem;
    color: #000;
    font-size: 1.3rem;
    margin-left: .8rem;
}
.content .chatWrap {
    width: 100%;
    height: 470px;
    background-color: #fff;
    overflow-y: scroll;
    padding-left: .7rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-top: 2px solid #d9dddf;
    border-bottom: 2px solid #d9dddf;
}
.content .chatting {
    font-size: 1.3rem;
    margin-top: 1.3rem;
}
.content .chatting.ani {
    opacity: 0;
    animation: appear 0s forwards;
}
.content .chatting.ani:nth-child(1) {
    animation-delay: 1.5s;
}
.content .chatting.ani:nth-child(2) {
    animation-delay: 3s;
}
.content .chatting.ani:nth-child(3) {
    animation-delay: 4.5s;
}
.content .chatting.ani:nth-child(4) {
    animation-delay: 6s;
}
.content .chatting.ani:nth-child(5) {
    animation-delay: 7.5s;
}
.content .chatting.ani:nth-child(6) {
    animation-delay: 9s;
}
.content .chatting.ani:nth-child(7) {
    animation-delay: 10.5s;
}
.content .chatting.ani:nth-child(8) {
    animation-delay: 12s;
}
.content .chatting.ani:nth-child(9) {
    animation-delay: 13.5s;
}
.content .chatting.ani:nth-child(10) {
    animation-delay: 15s;
}

.content .chatting p {
    margin-top: 1rem;
    font-weight: 500;
    text-indent: 1.2rem;
}
.content .chatting h3 {
    color: #3cc0e7;
}
.content .chatting .color {
    color: #f0862a;
}
.content .chat form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content .chat form:after {
    content: "로그인 후 이용 가능합니다";
    position: absolute;
    top: 39%; left: 10%;
    font-size: 1.4rem;
}
.content .chat #sendChat {
    width: 265px;
    height: 63px;
    margin: 1rem auto;
    border: 2px solid #d8dbdd;
}
.content .chat button {
    position: absolute;
    right: 25px;
    width: 63px;
    height: 44px;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    border: 2px solid #e3e3e3;
    color: #7c7c7c;
}
/* bj 정보 */

.content .info {
    display: flex;
    margin-top: 3.6rem;
    font-weight: 500;
    line-height: 1.6;
}
.content .info .profile {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: url(images/profile.jpg) no-repeat 0 0;
    background-size: cover;
    margin-right: 1rem;
}
.content .info h2 {
    font-size: 2.4rem;
}
.content .info span:first-of-type {
    font-size: 1.6rem;
}
.content .info .red {
    color: #df492b;
}
.content .info .time {
    display: block;
    font-size: 1.4rem;
}

/* 팝업 */
body > .popWrap {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    min-width: 1180px;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0,0,0,.4);
}
.popWrap > .popUp {
    background-color: #fff;
    width: 350px;
    height: 180px;
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 20px #000;
    text-align: center;
}
.popWrap .popUp .pink {
    color: #f45995;
    font-size: 2.4rem;
    font-weight: 900;
}
.popWrap .popUp .red {
    font-size: 2.8rem;
    color: #ee4d27;
    font-weight: 900;
}
.popWrap .popUp .button {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.6rem;
    font-size: 1.8rem;
    background-color: #f45995;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    animation: flash 1s infinite;
}
.popWrap .popUp .button div {
    padding: 1rem 1.5rem;
}
.ok {
    background-color: #4680c2;
    color: #fff;
    margin-right: 1.5rem;
}
.no {
    background-color: #fff;
    color: #4680c2;
    border: 1px solid #efefef;
}
.popWrap .popUp a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}

/* 링크 연결 */
body > .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 12px;
    }
    header,
    nav{
        display: none;
    }
    /* header {
        width: 100%;
        height: 18vw;
        justify-content: center;
        padding: 0;
    } */
    header h1 {
        display: block;
        width: 50%;
        height: 80%;
        background-size: contain;
        background-position: 50%;
        margin: 0;
    }
    main {
        width: 100%;
    }
    .content {
        height: 100%;
        padding: 0;
    }
    .content .imgWrap {
        width: 100%;
        height: auto;
    }
    .content .imgWrap .cam {
        margin: 0;
    }
    .content .imgWrap .bar {
        display: none;
    }
    .content .wrap {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: #000;
    }
    .content .chat {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom:0; left: 0;
        background-color: rgba(0,0,0,.5);
        border: none;
        padding: 0;
    }
    .content .chatWrap {
        background-color: transparent;
        height: 80%;
        border: none;
        padding: 0 1.3rem;
        margin: 0;
        overflow: scroll;
        padding: 1.3rem;
        -ms-overflow-style: none;
    }
    .chatWrap::-webkit-scrollbar{ display:none; }
    .content .chatting.ani:nth-child(1) {
        margin: 0;
    }
    .content .chat > p {
        display: none;
    }
    .content .chatting p {
        color: #fff;
    }
    .content .chat form {
        position: absolute;
        bottom: 0;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
    }
    .content .chat form:after {
        /* content: none; */
        color: #fff;
        left: 7%;
        top: 50%; transform: translateY(-50%);
        font-size: 1.2rem;
    }
    .content .chat #sendChat {
        width: 100%;
        height: 32px;
        border-radius: 15px;
        background-color: rgba(255,255,255,.5);
    }
    .content .chat button {
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        right: 8px;
        background-color: transparent;
        border: none;
        background: url(images/send-button.png) no-repeat 50% 50%;
        background-size: 20px;
    }
    .content .info {
        display: none;
    }
    body > .popWrap {
        min-width: unset;
    }
}