@charset "utf-8";

/* contact */

.contact{
    max-width: 570px;
}
.contact .form-container form {
    height: 345px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.contact h2 {
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 28px;
}
.contact .form-container .input-field {
    width: 49.122807017543856%;
    padding: 22px 25px;
    font-size: 1.4rem;
    box-sizing: border-box;
    border: 1px solid #a9a9a9;
    text-overflow: ellipsis;
}
.contact .form-container .input-field:hover,
.contact .form-container .input-field:focus{
    border-color: #000;
    background-color: #efefef;
}
.contact .btn-submit {
    width: 186px;
    height: 52px;
    background-color: #004e9f;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .3s;
    font-size: 1.4rem;
    margin-left: auto;
}
.contact .btn-submit:hover,
.contact .btn-submit:active {
    background-color: #000;
}
.contact .form-container #suggest {
    width: 100%;
    height: 129px;
    resize: none;
}
/* 컨텍트 조절 */
@media screen and (max-width: 1207px) {
    main .contact {
        margin-top: 19.884vw;
        margin-left: 50%;
        transform: translateX(-50%);
        min-width: 570px;
    }
}
@media screen and (max-width: 763px) {
    main .contact {
        margin: 19.884vw auto 0;
        width: 95%;
        transform: translateX(0);
        min-width: unset;
    }
    .contact .form-container form {
        width: 100%;
        height: 300px;
    }
    .contact .form-container .input-field {
        padding: 1.5rem 1rem;
        font-size: 1.2rem;
    }
    .contact .btn-submit {
        width: 100%;
    }
}