@charset "utf-8";

.content .cover {
}
.content .price .title:first-of-type {
    border-bottom: 0;
}
/* breadCrumb */
.content .breadCrumb li:after {
    right: -22%;
}

/* 달력 리스트 */

.content .cover > div:nth-of-type(2) .checked {
    padding: 15px 10px;
    background-color: rgb(249,249,249);
    margin-top: 20px;
}
.mob {
    display: none;
}
@media screen and (max-width:792px) {
    .mob {
        display: block;
        width: 95%;
        margin: 0 auto;
        border-left: 1px solid #dfdfdf;
    }
    table {
        display: none;
    }
    .checked {
        font-size: 12px;
    }
    .content .main .checked li{
        text-indent: 24px;
    }
    .checked span {
        display: block;
    }
}