@charset "utf-8";

.mBody {
    margin: 0;
}
.mBody * {
    font-family: 'Noto Sans KR', sans-serif;
}
.mBody ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mBody a {
    color: inherit;
    text-decoration: none;
}
.pat {
    position: absolute;
    top: 0; left: 0;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 0 5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,.4);
    z-index: 1;
}
.pat h1 img {
    width: 80%;
}
.pat a {
    display: block;
    width: 100%;
    height: 100%;
}
.pat .gnb {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
    background-color:rgba(0,0,0,.8);
    opacity: 0;
    transition-property: opacity;
    transition-duration: .3s;
    transition-delay: .4;
}
.pat .gnb.active {
    display: flex;
    opacity: 1;
}
.pat .gnb li {
    width: 100%;
    padding: 20px 0;
    margin: 20px 0;
    color: #fff;
}
.pat .gnb li.clbg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}
.pat .gnb li a {
    position: relative;
}
.pat .gnb li a::after {
    content: "";
    width: 0;
    height: 1px;
    transition: .4s;
    background-color: #fff;
    position: absolute;
    bottom: -20px; left: 50%;
    transform: translateX(-50%);
}
.pat .gnb li a:hover:after {
    width: 20%;
}
.vdjs {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.vdjs .TW {
    width: 90%;
    margin: 0 auto;
    color: #fff;
}
.vdjs .TW h2 {
    font-size: 65px;
}
.vdjs .TW p {
    font-size: 18px;
}
.fd {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fd li {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    justify-content: space-around;
}
.fd li .TB{
    font-size: 14px;
    width: 95%;
    max-width: 505px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.fd li .img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fd li:nth-of-type(1) .IMGWRAP {
    background: linear-gradient( 170deg, #a7fdfa, #a6cbeb);
}
.fd li:nth-of-type(2) .IMGWRAP{
    background: linear-gradient( 170deg, #6fb9fa, #372568);
}
.fd li:nth-of-type(3) .IMGWRAP{
    background: linear-gradient( 170deg, #ddff8d, #64dcfe);
}
.fd li:nth-of-type(4) .IMGWRAP{
    background: linear-gradient( 170deg, #a6f1fe, #453d90);
}
.fd li:nth-of-type(5) .IMGWRAP{
    background: linear-gradient( 170deg, #ba6fef, #5f91a8);
}
.fd li:nth-of-type(6) .IMGWRAP{
    background: linear-gradient( 170deg, #8babff, #3fdcde);
}
.fd li {
    background: linear-gradient( #bbcdfd 50%, #fff 50% );
}
.fd li:nth-of-type(even) span:last-of-type {
    color: #787878;
    font-size: 12px;
}
.fd li .aImg {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.fd li .IMGWRAP img {
    width: 80%;
}
.fd li .IMGWRAP {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.fd li h2 {
    margin: 10px 0 50px;
    font-size: 32px;
    position: relative;
}
.fd li h2::after {
    content: "";
    width: 20%;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: -25px; left: 0;
}
.fd li span:last-of-type {
    color: #aaa;
}
.ovs {
    padding: 130px 0;
}
.ovs h2 {
    text-align: center;
    font-size: 40px;
    margin: 0 0 50px 0;
}
.ovs .INNER {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.ovs .mson {
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#000;
}
.ovs .mson div:nth-of-type(1) {
    background-image: url(img/bg01.jpg);
}
.ovs .mson div:nth-of-type(2) {
    background-image: url(img/bg02.jpg);
}
.ovs .mson div:nth-of-type(3) {
    background-image: url(img/bg03.jpg);
}
.ovs .mson div:nth-of-type(4) {
    background-image: url(img/bg04.jpg);
}
.ovs .mson div:nth-of-type(1).act,
.ovs .mson div:nth-of-type(2).act {
    width: 60%;
}
.ovs .mson div:nth-of-type(1).nact,
.ovs .mson div:nth-of-type(2).nact {
    height: 50%;
}
.ovs .mson div:nth-of-type(3).act,
.ovs .mson div:nth-of-type(4).act  {
    height: 60%;
}
.ovs .mson div:nth-of-type(3).nact,
.ovs .mson div:nth-of-type(4).nact {
    height: 40%;
}
.ovs .mson div:nth-of-type(1).act ~ div:nth-of-type(3),
.ovs .mson div:nth-of-type(1).act ~ div:nth-of-type(4),
.ovs .mson div:nth-of-type(2).act ~ div:nth-of-type(3),
.ovs .mson div:nth-of-type(2).act ~ div:nth-of-type(4) {
    width: 40%;
    height: 50%;
}
.ovs .mson div:nth-of-type(1).act ~ div:nth-of-type(4).nact,
.ovs .mson div:nth-of-type(2).act ~ div:nth-of-type(3).nact {
    width: 50%;
    margin-left: -10%;
}
.ovs .mson div {
    width: 50%;
    height: 50%;
    transition: .3s;
    background-size: cover;
}
.ovs .mson a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.4);
    color: #fff;
    font-size: 24px;
}
.mBody footer {
    background-color: #121212;
    color: #989898;
}
.FWrap {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}
.FWrap address{
    font-style: unset;
    font-size: 14px;
}
.FWrap address img {
    display: block;
    margin: 0 auto;
}
.FWrap h3 {
    text-align: center;
    font-size: 18px;
}
.FWrap strong {
    text-align: center;
    display: block;
    font-size: 16px;
}
.FWrap .lkbtn {
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.FWrap .lkbtn li {
    width: 70px;
    height: 70px;
    text-align: center;
    background-color: #333;
    color: #f8f8f8;
    border-radius: 50%;
    transition: .3s;
}
.FWrap .lkbtn li a {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.FWrap .lkbtn li:hover {
    background-color: #f8f8f8;
    color: #333;
}
.animate__animated {
    --animate-duration: 1.5s;
  }

.mBody .hamberger span {
    display: block;
    background: #fff;
    width: 42px;
    height: 4px;
    border-radius: 3px;
    transition: 0.25s margin 0.25s, 0.25s transform;
  }
  .mBody .hamberger span:nth-child(1) {
      margin-bottom: 8px;
  }
  .mBody .hamberger span:nth-child(3) {
      margin-top: 8px;
  }
  .mBody .hamberger.active span {
      transition: 0.25s margin, 0.25s transform 0.25s;
  }
  .mBody .hamberger.active span:nth-child(1) {
    margin-top: 8px;
    margin-bottom: -4px;
      transform: rotate(45deg);
  }
  .mBody .hamberger.active span:nth-child(2) {
      transform: rotate(45deg);
  }
  .mBody .hamberger.active span:nth-child(3) {
    margin-top: -4px;
      transform: rotate(135deg);
  }
  .mBody .hamberger span:nth-child(1) {
    margin-bottom: 4px;
}
.mBody .hamberger span:nth-child(3) {
    margin-top: 4px;
}
.mBody .hamberger span {
    width: 36px;
}
  .mBody .hamberger span:nth-child(1) {
    margin-bottom: 4px;
}
.mBody .hamberger span:nth-child(3) {
    margin-top: 4px;
}
.mBody .hamberger span {
    width: 36px;
}